# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node/Composer (if ever used)
node_modules/
vendor/

# Logs
*.log

# WordPress
wp-config.php
wp-content/advanced-cache.php
wp-content/db.php
wp-content/wp-cache-config.php
wp-content/cache/
